
/* SELECTOR UNIVERSAL (*) NOS VA A SERVIR PARA RESETEAR ALGUNOS ESTILOS (PROPIEDADES) QUE APLICAN LOS NAVEGADORES POR DEFECTO */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */

header{
    background-color: black;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100px;
    align-items: center;
    padding: 2rem;
}

.ul-header{
    display: flex;
    list-style: none;
}

.nav-item{
    margin-left:2rem;
}

.ul-separador{
    margin-left: 2rem;
}

/* INDEX EN GENERAL */

body{
    background-color: orange;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: inherit;
}

.main{
    padding-top: 90px;
}

/* PRIMERA SECCION DEL INDEX */

.inicio1{
    background-color: rgb(201, 56, 201);
    color: white;
    display: flex;
    padding:3rem;
}

.inicio1-subtitulo{
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 700;
}

.inicio1-titulo{
    font-size: 3rem;
    margin-bottom: 2rem;
}

.inicio1-slogan{
    line-height: 1.8;
    margin-bottom: 2rem;
}

.inicio1-btn{
    background-color: black;
    border-radius: 50px;
    padding: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.inicio1-terminos{
    font-size: 12px;
    text-align: justify;
    line-height: 1.5;
}

.inicio1-textos{
    width: 60%;
}

.inicio1-picture{
    width: 40%;
    text-align: center;
}

/* SEGUNDA SECCION DEL INDEX */

.inicio2{
    background-color: #2941ab;
    background-image: url(../imagenes/fondo-ilustracion-1.svg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    min-height: 70vh;
    color: #1ed760;
    text-align: left;
    padding: 3rem;
    position: relative;
}

.inicio2-btn{
    display: inline-block;
    background-color: #1ed760;
    color: #2941ab;
    text-decoration: none;
    margin-bottom: 2rem;
    padding: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 50px;
    font-weight: 700;
}

.inicio2-titulo{
    font-size: 3rem;
    margin-bottom: 2rem;
}

.inicio2-texto{
    line-height: 1.8;
    margin-bottom: 2rem;
}

/* FOOTER */

footer{
    background-color: black;
}

.position-fixed{
    background-color: green;
    color: white;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}

.inicio2-absolute{
    position: absolute;
    background-color: red;
    top: 50%;
    left: 0;
}